@charset "utf-8";
/* CSS Document */

/*header layout setting*/
header {
    background-color:green;
    color:white;
    text-align:center;
    padding:5px;
	margin:0px 100px;	
    /*margin-left:100px;*/
	background-image:url(assignment/images/sky.png);
	width:1140px;

    }
/*navigation layout setting*/
nav {
    line-height:50px;
	text-align:center;
	color:white;
    background-color:green;
    height:400px;
    width:100px;
    float:left;
    padding:5px,5px;     
	margin:0px 0px 0px 100px;
	 }

/*aside layout setting*/
aside{
	float:left;
	margin-top:30px;
	}
	
/*section layout setting*/	
section {
    width:500px;
    float:left;
    padding:10px;
	margin:0px 0px 0px 0px;		 	 
    }
/*footer layout setting*/	
footer {
    background-color:white;
    color:black;
    clear:both;
    text-align:center;
    padding:5px;	
    margin:0px 100px;	 	 
    }
